*{
    margin: 0;
    padding: 0;
}

img{
    width : 150px;
    height:  80px;
   
}
nav{
    height:  100px;
    gap: 10px;
    align-content: end;
}


  .navbar-custom .nav-link:hover {
    color: #e01616; 
  }
.dam{
    width: 100%;
    height: 700px;
}
.fem{
  background: linear-gradient(to bottom, #ffffff 50%, #15cfdfec 50%);
  margin-left: 10px;
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.why{
  margin-top: 30px;
  text-align: center;
}

.card{
  width: 250px;
}
  